
<div class="flex flex-column">

  <span class="text-lg mb-4">Registro</span>

  <mat-form-field>
    <mat-label>Username</mat-label>
    <input type="text" matInput placeholder="Create an username">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Name</mat-label>
    <input type="text" matInput placeholder="Your real name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="password" matInput placeholder="Create a safe password">
  </mat-form-field>

  <button mat-button mat-flat-button color="primary">
    <mat-icon>check</mat-icon>
    Register
  </button>


  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/login">¿You already have an account?</a>
  </div>

</div>
